* {
  margin: 0;
  padding: 0;
}

.form-container {
  background-color: rgb(36, 179, 227);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      font-weight: bold;
      font-size: 25px;
    }

    .title {
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid rgb(36, 179, 227);
      }

      button {
        background-color: rgb(36, 179, 227);
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }
    }

    p {
      margin-top: 10px;
      font-size: 12px;
      color: rgb(41, 38, 38);
    }
  }

}

.home {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: 1px solid white;
  border-radius: 10px;
  width: 65%;
  height: 80%;
  display: flex;
  overflow: hidden;

  .sidebar {
    flex: 1;
    background-color: #3e3c61;

    .navbar {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      background-color: #2f2d52;

      .logo {
        font-weight: bold;
        color: #ffff;
      }

      .user {
        display: flex;
        gap: 10px;

        img {
          background-color: #ddddf7;
          height: 24px;
          width: 24px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          padding: 2px;
          color: #ffff;
        }

        button {
          background-color: #5d5bBd;
          color: #ddddf7;
          font-size: 10px;
          border: none;
          padding: 10px;
        }
      }
    }

    .search {
      border-bottom: 1px solid grey;

      .searchForm {
        padding: 10px;

        input {
          background-color: transparent;
          border: none;
          color: #ffff;
          outline: none;

          &::placeholder {
            color: lightgrey;
          }
        }
      }

    }

    .userChat {
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      color: white;

      &:hover {
        background-color: #2f2d52;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      .userChatInfo {
        span {
          font-weight: 500;
          font-size: 18px;
        }

        p {
          font-size: 14px;
          color: lightgrey;
        }
      }
    }
  }

  .chat {
    flex: 2;

    .chatInfo {
      height: 33px;
      background-color: #5d5bBd;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 10px;
      color: lightblue;

      .chatIcons {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          cursor: pointer;
        }
      }
    }
  }
}